.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div{
    height: 20px;
    width: 20px;
}  

.tetromino{
    background: blue;
}